<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

	<context-param>
		<param-name>net.sourceforge.smile.descriptor.package</param-name>
		<param-value>net.sourceforge.smile.examples.cbp</param-value>
		<description>The package where the screen descriptors are located.</description>
	</context-param>		
	<context-param>
		<param-name>net.sourceforge.smile.descriptor.postfix</param-name>
		<param-value></param-value>
		<description>The postfix to append to descriptor class names.</description>
	</context-param>	

    <!-- Listener, that does all the startup work (configuration, init). 
    - Commented out, defined in myfaces
    <listener>
        <listener-class>net.sourceforge.myfaces.webapp.StartupServletContextListener</listener-class>
    </listener>
    -->
    <listener>
        <listener-class>net.sourceforge.smile.application.SmileInstaller</listener-class>
    </listener>


    <!-- Faces Servlet - Commented out for now, defined in myfaces
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>net.sourceforge.myfaces.webapp.MyFacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
	-->

    <!-- Faces Servlet Mapping -->

    <!-- virtual path mapping - Commented out for now, defined in myfaces
    <!--
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>/faces/*</url-pattern>
    </servlet-mapping>
    -->

    <!-- extension mapping - Commented out for now, defined in myfaces
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.jsf</url-pattern>
    </servlet-mapping>
    -->

    <!-- Welcome files - Commented out for now

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
    -->
    
</web-app>
